body {
  color: white;
  background-color: #242424;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
