.title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.importantLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.accordion-button {
  display: flex;
  gap: 1rem;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.teamsInformation {
  min-width: 30%;
  --bs-accordion-color: white;
  --bs-accordion-active-bg: var(--bs-accordion-bg);
}

.sprintSchedule {
  color: black;
  background-color: palegoldenrod;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  align-self: flex-start;
}

.reviewSchedule {
  color: black;
  background-color: #cbc3e3;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  align-self: flex-start;
}

.team1,
.team2,
.team3 {
  padding: 0.1rem 0.5rem;
  border-radius: 0.5rem;
}

.team1 {
  background-color: aqua;
  color: black;
}

.team2 {
  background-color: lightcoral;
  color: black;
}

.team3 {
  background-color: lightgreen;
  color: black;
}

.scheduleContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5rem;
  --bs-accordion-color: white;
  --bs-accordion-active-bg: var(--bs-accordion-bg);
}

.classDate {
  color: white;
  font-size: 1.5rem;
}

.classInstance {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.classScheduleItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
  margin-bottom: 0.1rem;
}
